.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}


.login-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.page-container {
    width: 80%;
    min-height: 50vh;
}

.pb-container {
    height: 100%;
    justify-content: center;
}