.navigator {
    width: 100px;
    background-color: $gray-dark;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigator > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigator > div:last-child {
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-item {
    background-color: $green;
    width: 80px;
    height: 80px;
    margin: 5px 0px;
    border-radius: 40px;
    transition: border-radius 0.5s;
}

.nav-item:hover {
    border-radius: 20px;
}